#graph{
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
    right: 0;
    z-index: 800;
}

button:active{
    color: white;
    background-color: black;
}

#color_index{
    position: absolute;
    z-index: 10;
}

.color_index ul{
    margin: 0;
    margin-right: 10px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 10px;
    list-style-type: none;
}

ul.color_labels li{
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    padding-bottom: 0;
}

ul.color_labels li span{
    display: inline-block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999999;
}

#highlight-coloring {
    margin: 0;
    margin-right: 30px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 10px;
    list-style-type: none;
}

#name-plate{
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
}